/* product-section */

.main {
    display: flex;
    height: 100vh;
}

.filter-section-container {
    width: 20vw !important;
    padding: 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.236);
}

.filter-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.filter-header h5 {
    padding-bottom: 0.8rem;
}

.filter-header button {
    background-color: #fff;
    border: none;
    font-size: 1.4rem;
}


.filter-section h6 {
    padding: 0.8rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.236);
}

.main-container {
    flex: 1;
    overflow: auto;
    padding: 1rem;
}

a {
    text-decoration: none !important;
}

.cards {
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-container::-webkit-scrollbar {
    display: none !important;
}

.cards .card {
    border: none;
    width: 20vw;
    margin-bottom: 1rem;
    margin-right: 0.4rem;
    opacity: 0.9;
}

.cards .card:hover {
    opacity: 1;
}

.card img {
    padding: 0.5rem;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.card-body p {
    margin: 0;
}

.filter-btn {
    display: none;
    background-color: transparent;
    width: 100%;
    padding: 0.4rem;
    margin: 1.5rem 0;
    border: 1px solid rgba(63, 62, 62, 0.418);
    font-size: 1.2rem;
    font-weight: 400;
}

.cross-btn {
    display: none;
}


@media (max-width : 800px) {
    .filter-section-container {
        position: absolute;
        z-index: 100;
        background-color: #fff;
        width: 70vw !important;
        height: 100vh;
        left: -70vw;
    }

    .filter-section {
        padding: 0 1rem;
    }

    .main-container {
        padding: 0;

        h2 {
            font-size: 2rem;
        }
    }

    .cards {
        justify-content:flex-start;
        width: 100%;

        a{
            width: 50%;
        }
    }

    .cards .card {
        width: 100%;
    }

    .card img {
        width: 100%;
    }

    .filter-btn {
        display: block;
    }
    .cross-btn {
        display: block;
    }
}