/* footer */
.footer-container {
    display: none;
}

/* main-div */
.main {
    display: flex;
    border-radius: 1rem;
    padding: 1rem;
}

a {
    color: black;
    text-decoration: none;
}

/* sidebar */
.sidebar {
    width: 20%;
    height: 50vh;
    background-color: aliceblue;
    margin-right: 1rem;
    padding: 1rem;
    padding-top: 4rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    width: 100%;
    height: 3rem;
    padding: 0 1rem;
    align-content: center;
    font-weight: 600;
}

.sidebar li:hover {
    background-color: rgba(138, 185, 227, 0.707);
    border-radius: 0.5rem;
}

.sidebar a {
    text-decoration: none;
    color: #222;
}

.sidebar a:hover {
    color: royalblue;
}

.sidebar-btn {
    display: none;
}

.sidebar .sidebar-close-btn {
    display: none;
    width: 2rem;
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
}

@media (max-width : 800px) {
    .container {
        position: relative;
        padding: 0;
    }
    .main {
        padding: 0;
        margin: 0;
        flex-direction: column;
    }
    .sidebar {
        /* background-color: whitesmoke; */
        position: fixed;
        z-index: 99;
        width: 60%;
        height: fit-content;
        top: 4.2rem;
        right: -60%;
        margin: 0;
        padding: 1rem;
        border-radius: 0;
    }
    .sidebar-btn {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 4rem;
        height: 3rem;
        border: none;
        background-color: transparent;
        font-size: 1.6rem;
    }
    .sidebar-close-btn {
        display: block !important;
    }
}

/* main container */
.main-container {
    width: 80%;
    background-color: aliceblue;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 0.5rem;
}

@media (max-width : 800px) {
    .main-container {
        width: 100vw;
        padding: 1rem;
        border-radius: 0;
        background-color: rgba(154, 200, 240, 0.341);
    }
}

/* admin dashboard */
.card {
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    border: none;
    box-shadow: 0 0 3px 1px black;
}

.card-text {
    font-weight: 600;
}

.card .icon-box {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 1.4rem;
}

.sales-icon {
    background-color: #22C55E;
}

.income-icon {
    background-color: orangered;
}

.order-icon {
    background-color: royalblue;
}

.visitor-icon {
    background-color: rgb(255, 200, 0);
}

/* list-container & tables */
.list-container {
    height: 60vh;
    overflow-y: scroll;
}

.list-container::-webkit-scrollbar {
    display: none;
}

table {
    width: 100%;
    text-align: center;
    text-wrap: nowrap;
    border-collapse: unset;
    /* border: 1px solid black; */
}

table img{
    width: 3rem;
    aspect-ratio: 3/2;
}

@media (max-width : 800px) {
    .list-container {
        overflow-x: scroll;
        padding: 0;
    }
    .list-container::-webkit-scrollbar {
        display: none;
    }
}

/* Add product */
.product-form {
    padding: 0 2rem;
}

.product-form .btn {
    background-color: #45adbb;
    color: #fff;
    font-weight: 600;
}