.main {
    align-content: center;
    justify-content: center;
}

.col {
    border: 1px solid #22222274;
    border-radius: 1rem;
}

.btn {
    width: 100%;
    background-color: #45adbb;
    font-weight: 600;
    border: none;
}

.btn:hover {
    background-color: #45adbb;
    color: #222;
}

a {
    text-decoration: none;
}

.col a:hover {
    text-decoration: underline;
}

@media (max-width : 1000px) {
    .col {
        width: 80% !important;
    }
}

@media (max-width : 600px) {
    .col {
        width: 90% !important;
        border: none;
    }
}
.footer-container {
    display: none;
}