.footer-container {
    display: none;
}

/* main div */

.main {
    margin-top: 1rem;

    a {
        text-decoration: none;
        color: #222;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 15vw;
    border: none;
    
    p {
        margin: 0;
    }
}

.card img {
    max-width: 200px;
    padding: 0.5rem;
}

.card-btn a:hover {
    color: red;
}

@media (max-width : 800px) {
    .cards {
        width: 100%;
    }

    .cards .card {
        width: 50%;
    }

    .card img {
        width: 100%;
    }
}