<h1>Category list</h1>

<div class="list-container">
    <table class="table table-striped">
        <thead class="table-primary">
            <tr>
                <th>Category</th>
                <th>Quantity</th>
                <th>Sale</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sports</td>
            </tr>
            <tr>
                <td>Sneakers</td>
            </tr>
            <tr>
                <td>Slippers</td>
            </tr>
            <tr>
                <td>Running</td>
            </tr>
        </tbody>
    </table>
</div>

