<h1>Order list</h1>

<div class="order-container">
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Order ID</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Payment</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Shoe</td>
                <td>#1234</td>
                <td>1999</td>
                <td>124</td>
                <td>20</td>
                <td>Success</td>
            </tr>
        </tbody>
    </table>
</div>