<%- layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/product.css">

<body>
    <div class="main mt-4">
        <div class="filter-section">
            <div class="row">
                <!-- Filter Section -->
                <div class="col-md-3 filter-section">
                    <h5>Filter by:</h5>
    
                    <!-- Price Filter -->
                    <h6>Price</h6>
                    <input type="number" class="form-control mb-2" placeholder="Min Price" aria-label="Min Price">
                    <input type="number" class="form-control mb-2" placeholder="Max Price" aria-label="Max Price">
                </div>

                <!-- Color Filter -->
                <h6>Color</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="black" id="colorBlack">
                    <label class="form-check-label" for="colorBlack">Black</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="brown" id="colorBrown">
                    <label class="form-check-label" for="colorBrown">Brown</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="white" id="colorWhite">
                    <label class="form-check-label" for="colorWhite">White</label>
                </div>

                <!-- Size Filter -->
                <h6>Size</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="6" id="size6">
                    <label class="form-check-label" for="size6">Size 6</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="7" id="size7">
                    <label class="form-check-label" for="size7">Size 7</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="8" id="size8">
                    <label class="form-check-label" for="size8">Size 8</label>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="content">
                <p style="text-align: center;">No products listed!</p>
            </div>        
        </div>
    </div>
</body>